@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .ant-btn .css-dev-only-do-not-override-1uweeqc .ant-btn-primary ant-btn-sm{
  @apply  !bg-black
} */
/* Default width for smaller screens */
.ant-picker-calendar {
  width: 100%; /* Make it full width */
}

/* Adjust the width for larger screens using media queries */
@media only screen and (min-width: 576px) {
  /* Adjust the width for small devices (like phones) */
  .ant-picker-calendar {
    width: 100%; /* Adjust the width as needed */
  }
}

@media only screen and (min-width: 768px) {
  /* Adjust the width for medium devices (like tablets) */
  .ant-picker-calendar {
    width: 600px; /* Adjust the width as needed */
  }
}

@media only screen and (min-width: 992px) {
  /* Adjust the width for large devices (like laptops) */
  .ant-picker-calendar {
    width: 800px; /* Adjust the width as needed */
  }
}

@media only screen and (min-width: 1200px) {
  /* Adjust the width for extra-large devices (like desktops) */
  .ant-picker-calendar {
    width: 1100px; /* Adjust the width as needed */
  }
}

